/*Comment*/
html, body {
	height: 100%;
}

html {
	background-color: gray;
}

body {
	width: 900px;
	margin:0 auto;
	background-color: white;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.73);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.73);
}

/*Header*/
header img {
	width: 100%;
}
nav ul {
	margin-top: 0px;
	border: solid 1px 1px 1px 1px black
}
nav ul li{
	display: inline;
}
li a {
  text-decoration: none;
}
/*Main Content*/
section {
	float: left;
	width: 60%;
}

aside {
	float:right;
	width: 40%;
}

/*Footer*/
footer {
	width: 100%;
}

/*Clearfix*/
.clear {
	clear: both;
}
