/*Comment*/


html {
	background-color: #dfe3e5;
}

body {
	margin:0 auto;
	background-color: white;
}

/*Header*/


header {
	width: 100%;
	height: 100%;
}
a img {
	width: 10%;
}
nav {
		border: solid 1px 1px 1px 1px black;
		position: fixed;
		text-align: center;
		width: 100%;
}
nav ul {
	margin-top: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
	padding-bottom: 3px;
	padding-top: 3px;
}
nav ul li{
	display: inline;
}
li a {
  text-decoration: none;
	color: black;
	font-size: 1.5rem;
}
nav li {
	font-size: 2rem;
}

#bg {
	background-image: url(http://i.imgur.com/Sq1HCtJ.jpg);
	width: 100%;
	height: 100vh;
}

/*Main Content*/
section {
	float: left;
	width: 60%;
}

aside {
	float:right;
	width: 40%;
}

/*Footer*/
footer {
	width: 100%;
}

footer h4 {
	margin-bottom: 0px;
}

/*Clearfix*/
.clear {
	clear: both;
}
