.autoCenter {
	margin: 0 auto;
}

.textCenter {
	text-align: center;
}

.right {
	float: right;
}
.left {
	float: left;
}

html {
	background-color: gray;
}

body {
	margin:0 auto;
	background-color: gray;
}

/*Header*/
header {
	width: 100%;
	height: 100%;
}
#blank {
	width: 10vw;
}

header nav div, header nav div img {
	padding-top: 0;
}

header nav div img {
	padding-left: 10vw;
	height: 130px;
	width: 130px;
}

nav {
		position: fixed;
		text-align: center;
		width: 100%;
		height: 4vh;
		background-color: white;
		padding-bottom: 2vh;
		-webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow:    0px 0px 12px 0px rgba(0, 0, 0, 0.75);
		box-shadow:         0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}
nav ul {
	margin-top: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
	padding-bottom: 3px;
	padding-top: 3px;
}
nav ul li{
	display: inline;
	color: black;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

nav ul li a:hover{
	color:gold;
}

li a {
  text-decoration: none;
	color: black;
	font-size: 1.5rem;
	font-family: 'Architects Daughter', cursive;
}
nav li {
	font-size: 2rem;
}

header div {
	text-align: center;
}
header div img {
	padding-top: 20vh;
	height: 400px;
	width: 400px;
}

#bg {
	background: url(http://i.imgur.com/ixpzLnm.jpg) no-repeat center center fixed;
	width: 100%;
	height: 100vh;
}

/*Main Content*/

h1 {
	margin-top:0;
	padding-top: 50px;
	margin-bottom: 0;
}
h1, h2 {
	font-family: 'Architects Daughter', cursive;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	font-size:3rem;
	margin-left: 5%;
}
section h2 {
	margin-top:0;
}
main {
	background-color: gray;
}

p, #hours article {
	font-family: 'Quando', serif;
}

#split {
	background: url(http://i.imgur.com/1kBWyGh.jpg) no-repeat center center fixed;
	width: 100%;
	height: 110vh;
}
#split2 {
	background: url(http://i.imgur.com/IRlmhQg.jpg) no-repeat center center fixed;
	width: 100%;
	height: 110vh;
}

#split3 {
	background: url(http://i.imgur.com/4BqjjL5.jpg) no-repeat center center fixed;
	width: 100%;
	height: 110vh;
}
section {
	min-height: 115vh;
}
/*ABOUT SECTION*/
#about {
	background-image:url(http://i.imgur.com/JGWUhQh.png);
  background-repeat:repeat;
}

#about h1 {
	padding-top: 15vh;
}

#about p {
	font-family: 'Quando', serif;
	font-size: 1.5rem;
	margin-bottom: 0;
	padding-left: 2vw;
}
#about div {
	display: block;
	width: 50%;
	max-width: 90vw;
}
#about div a {
	text-decoration: none;
}
#about div h3, #about div h4 {
	font-family: 'Architects Daughter', cursive;
	font-size: 2rem;
	color: gold;
	text-shadow: 2px 2px 2px rgba(53, 53, 53, 0.5);
}

#about div h3 {
	margin-top: 0;
	margin-bottom: 0;
}

#about div h4 {
	margin-bottom: 0;
}

#about div img {
	max-width: 100%;
}

#drink {
	padding-top: 8vh;
	height: 107vh;
}
#drink:hover {
	background-image: url(http://i.imgur.com/fV0vCWZ.png);
	background-repeat: repeat;
}
.specials {
	text-align: center;
}
/*HOURS SECTION HERE*/

#hours{
	background-image: url(http://i.imgur.com/eVcDeXq.png);
	background-repeat: repeat;
}

#hours p {
	font-size: 1.6rem;
}

#hours article {
	width: 40vw;
	display: inline-block;
	padding-left: 3vw;
	padding-right: 3vw;
}
#hours {
	text-align: center;
}
#hours h3 {
	font-size: 2rem;
}

/*LOCATIONS SECTION*/
#locations{
	background-image: url(http://i.imgur.com/cfPMrWt.png);
	background-repeat: repeat;
}
#locations article {
	width: 40vw;
	display: inline-block;
	padding-left: 3vw;
	padding-right: 3vw;
}

#locations img {
	width: 40vw;
}

#locations {
	text-align: center;
}

#locations address, #locations h3 {
	font-size: 1.6rem;
	font-family: 'Quando', serif;
}

#hours h2, #locations h2{
	padding-top:10%;
	text-align: center;
	margin-left: 0px;
}

/*CONTACTS SECTION*/
#contact {
	background-image: url(http://i.imgur.com/4Y65QF0.png);
	background-repeat: repeat;
	min-height:75vh;
	padding-bottom: 10vh;
	-webkit-box-shadow: 0px 21px 28px 0px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 21px 28px 0px rgba(0,0,0,0.63);
  box-shadow: 0px 21px 28px 0px rgba(0,0,0,0.63);
}

#contact h2 {
	padding-top: 8vh;
  margin: 0 auto;
  text-align: center;
	margin-bottom: 5vh;
}

form {
  background: beige;
  margin: 0 auto;
  max-width:90vw;
  width: 550px;
  clear: both;
	padding: 3vh;
	background-image: url(http://i.imgur.com/ayuqwGq.png);
	background-repeat: repeat;
	-webkit-box-shadow: 0px 0px 29px 2px rgba(84,84,22,1);
	-moz-box-shadow: 0px 0px 29px 2px rgba(84,84,22,1);
	box-shadow: 0px 0px 29px 2px rgba(84,84,22,1);
	font-size: 1.5rem;
	font-family: 'Architects Daughter', cursive;
}
form input {
  max-width: 30vw;
  width: 100%;
  clear: both;
}

/*Footer*/
footer {
	background-image: url(http://i.imgur.com/Nb5ZVsl.png);
	background-repeat: repeat;
	min-height: 15vh;
}
footer p {
	margin: 0 auto;
	text-align: center;
	padding-top: 4vh;
}
